.hero {
  position: relative;
  &--preview {
    overflow: hidden;
  }
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__background-image {
  position: absolute;
  width: calc(50% + 100px);
  top: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  user-select: none;
}

.hero__background-shape {
  pointer-events: none;
  position: absolute;
  bottom: -48px;
  right: calc(50% - 190px);
  width: 1200px;
  height: auto;
}

.hero__content {
  padding: 180px 0;
}

.hero__content h1 {
  line-height: 58px;
}

.hero__content p,
.hero__content p.section-title,
.hero__content h1 {
  color: white !important;
}

.hero__content p:not(.section-title) {
  opacity: 0.5;
}

.hero__content .section-title + h1 {
  margin-top: 8px;
}

.hero__content h1 + p {
  margin-top: 20px;
}

.hero__content .section-title::after {
  background: white;
}
