// $elements: (p, h1, h2, h3, h4, h5, h6, ul);
// @each $top_element in $elements {
//   @each $bottom_element in $elements {
//     #{$top_element} + #{$bottom_element},
//     #{$top_element} + a {
//       margin-top: 20px;
//     }
//   }
// }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$font-alt: 'DM Serif Text', serif;

body {
  font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: $font-alt;
}

h1 {
  font-size: 60px;
  line-height: 62px;
}
