<section class="advantages">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">{{ fields.title }}</div>
    </div>
    <div class="row mt-9 mb-6">
      <div class="col-12 col-lg-6">{{ fields.left_column }}</div>
      <div class="col-12 col-lg-6">{{ fields.right_column }}</div>
    </div>
    <hr>
    <div class="row mt-9">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-md-2 col-xl-6 offset-xl-3 text-center">
        {{ fields.cta }}
      </div>
    </div>
  </div>
</section>
