<section class="contracts">
  <div class="container">
    <div class="row">
      <div class="col-7">
        {{ fields.content }}
      </div>
    </div>
  </div>

  <div class="contracts__container">
    <div class="contracts__items">
      <div class="container">
        <div class="row">
          {% for i in 0..6 %}
            <div class="col-6">
              <a href="" class="contracts__item">
                <img src="https://picsum.photos/400/400" class="contracts__item-thumbnail" alt="">
                <div class="contracts__item-content">
                  <h3>Lorem ipsum dolor</h3>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut velit vero perspiciatis?</p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
