<section class="contact-banner">
  <div class="container">
    <div class="row">
      <div class="col-7 pr-8">{{ fields.contact_banner_content }}</div>
      <div class="col-5">
        <div class="contact-banner__links">
          <a href="#">
            <img src="{{ theme.link }}/assets/img/contact-banner-phone.png" alt="">
            <span>+33(0)4 93 16 74 74</span>
          </a>
          <a href="#">
            <img src="{{ theme.link }}/assets/img/contact-banner-mail.png" alt="">
            <span class="btn btn-outline-primary">Contactez-nous par mail</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
