<section class="image-text">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-6">{{ fields.content }}</div>
      <div class="col-6">
        {% include "partials/masked-image.twig" with { image: fields.image } %}
      </div>
    </div>
  </div>
</section>
