<section class="services">
  <div class="container">
    <div class="row text">
      <div class="col-8 offset-2 d-flex flex-column align-items-center text-center">{{ fields.content }}</div>
    </div>
    <div class="row mt-9">
      {% for service in fields.services %}
        <div class="col-4">
          <div class="services__img">
            <img src="{{ Image(service.image).src }}" alt="{{ Image(fields.image).alt }}">
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for service in fields.services %}
        <div class="col-4">
          {{ service.content }}
        </div>
      {% endfor %}

    </div>
  </div>
</section>
